{{define "Post"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostIt!</title>
    {{template "UIkit"}}
</head>
<body>
    <a href="/" uk-icon="icon: home"></a>
    <div class="uk-card uk-card-default uk-card-body">
        <form action="/post/newpost" method="POST">
            <input class="uk-input" type="text" name="Header" placeholder="Post Header"/>
            <input class="uk-input" type="text" name="text" placeholder="Post text"/>
            <input type="submit" class="uk-button uk-button-default"> 
            </form>
    </div>
</body>
</html>
{{end}}


{{define "UIkit"}}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
{{end}}