<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />



<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

{{define "list"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{.Name}}</title>
        {{template "head"}}
    </head>
    <body>
    {{template "header"}}

    <div class="uk-container">
        <div class="uk-card uk-card-body">
            <h3 class="uk-card-title uk-heading-divider">{{.Name}} <button onclick="newItem()" uk-icon="icon: plus"></button></h3>
            <p>{{.Description}}</p>
            <ul class="uk-list uk-list-divider">
                {{range .List}}
                    <li><input class="uk-checkbox" id="{{.ID}}" type="checkbox" {{if .Complete}}checked{{end}} onchange="check(this)"> {{.Text}}</li>
                {{end}}
            </ul>
        </div>
    </div>

    <script>
        function check(checkboxElem) {
            var itemID = checkboxElem.id;

            if (checkboxElem.checked) {
                alert("Закрыта задача " + itemID)
            } else {
                alert("Открыта задача " + itemID)
            }
        }
        function newItem() {
            alert("Событие создания новой задачи")
        }
    </script>

    {{template "footer"}}
    </body>
    </html>
{{end}}

{{define "head"}}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
{{end}}



{{define "header"}}
    <header>
        <nav class="uk-navbar-container" uk-navbar>
            <a class="uk-navbar-item uk-logo" href="/">Мои списки</a>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a href="/add">Новый список</a></li>
                </ul>
            </div>
        </nav>
    </header>
{{end}}

{{define "footer"}}
    <footer>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    </footer>
{{end}}