{{define "body"}}
<div class="uk-container">
    <div class="uk-align-center uk-margin-top">
        <input class="uk-input" type="text" placeholder="Author" id="PostAuthor">
        <input class="uk-input" type="text" placeholder="Title" id="PostTitle">
        <textarea class="uk-textarea" rows="6" placeholder="Text" id="PostText"></textarea>
        <button class="uk-button uk-button-primary uk-margin uk-align-right" id="CreatePost">Create post</button>
    </div>
</div>

<script>
    document.getElementById("CreatePost").addEventListener("click", () => {
        let url = document.URL
        let title = document.getElementById("PostTitle").value;
        let text = document.getElementById("PostText").value;
        let author = document.getElementById("PostAuthor").value;

        if (title === "" || text === "" || author === "") {
            UIkit.notification({
                message: 'Need to feel title and text values!',
                status: 'danger',
                pos: 'top-center'
            });
            return
        }

        let req = fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'title': title,
                'description': text,
                'author': author,
            })
        }).
            then((response) => {
                if (response.status === 201) {
                    window.history.pushState({page: '/'}, null, '/');
                    window.location.reload();
                }
            })
    });
</script>
{{end}}