<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "UIkit"}}
    {{template "JS"}}
</head>

<body>
    <h1>TODOLIST</h1>
    <div class="uk-card uk-card-default uk-card-body">
        {{template "Tasks" .}}
        <hr>
        {{template "NewTask" .}}
    </div>
</body>

</html>


{{define "Tasks"}}
<div class="uk-card uk-card-body">
    {{range $key, $val := .Tasks}}
    <div class="uk-card uk-card-default uk-card-body" task-id="{{.ID}}">
        <div>
            {{if .Completed}}
            <input data-task-id="{{$key}}" class="checkbox uk-checkbox" type="checkbox" onclick="updateTask('{{.ID}}')"
                checked>
            {{else}}
            <input data-task-id="{{$key}}" class="checkbox uk-checkbox" type="checkbox" onclick="updateTask('{{.ID}}')">
            {{end}}
            <button class="uk-button uk-button-default" onclick="updateTask('{{.ID}}')">Сохранить</button>
            <button class="uk-button uk-button-default" onclick="deleteTask('{{.ID}}')">Удалить</button>
        </div>
        <input type="text" class="uk-input" value="{{.Text}}" />
    </div>
    {{end}}
</div>
{{end}}

{{define "NewTask"}}
<div class="uk-card uk-card-body">
    <div class="uk-card uk-card-default uk-card-body" task-id="new">
        <div>
            <input type="checkbox" class="uk-checkbox">
            <button class="uk-button uk-button-default" onclick="createTask()">Сохранить</button>
        </div>
        <input type="text" class="uk-input">
    </div>
</div>
{{end}}

{{define "UIkit"}}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
{{end}}

{{define "JS"}}
<script>
    async function createTask() {
        console.log('createTask()');
        let taskForm = document.querySelector(`div[task-id="new"]`)
        let taskCmpleted = taskForm.querySelector('input[type="checkbox"]').checked;
        let taskText = taskForm.querySelector('input[type="text"]').value;
        console.log(taskCmpleted, taskText);

        let data = await fetch(`/api/v1/tasks`, {
            method: 'POST',
            body: JSON.stringify({
                text: taskText,
                completed: taskCmpleted,
            }),
        });

        let dataTask = await data.json();
        if (dataTask) {
            console.log(dataTask);
            window.location.reload();
        }
    }

    async function updateTask(id) {
        console.log('updateTask()');
        let taskForm = document.querySelector(`div[task-id="${id}"]`)
        let taskCmpleted = taskForm.querySelector('input[type="checkbox"]').checked;
        let taskText = taskForm.querySelector('input[type="text"]').value;
        //console.log(taskCmpleted, taskText);

        let data = await fetch(`/api/v1/tasks/${id}`, {
            method: 'PUT',
            body: JSON.stringify({
                text: taskText,
                completed: taskCmpleted,
            }),
        });

        let dataTask = await data.json();
        if (dataTask) {
            console.log(dataTask);
            window.location.reload();
        }
    }

    function deleteTask(id) {
        console.log('deleteTask()');

        fetch(`/api/v1/tasks/${id}`, {
            method: 'DELETE',
        }).then(response => {
            window.location.reload();
        });
    }



    // document.addEventListener('DOMContentLoaded', () => {

    //     let checkboxAll = document.querySelectorAll('input');
    //     for(let item of checkboxAll){
    //         item.addEventListener('click', async (event) => {
    //             let taskId = event.target.dataset.taskId;
    //             let taskCmpleted = event.target.checked;

    //             let data = await fetch(`/${taskId}/${taskCmpleted}`, {
    //                 method: 'POST',
    //             });

    //             let dataTask = await data.json();
    //             if(dataTask){
    //                 //console.log(dataTask);
    //                 window.location.reload();
    //             }
    //         });
    //     }
    // });
</script>
{{end}}