{{define "blogIndex"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{.BlogTitle}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
    </head>
    <body>
        <div class="uk-section uk-section-muted">
            <div class="uk-container">
                <h1 class="uk-heading-small uk-align-center">{{.BlogTitle}}</h1>
            </div>
        </div>
        <div class="uk-container uk-margin-medium-top">

            {{range .Posts}}
                {{template "postEntry" .}}
            {{else}}
                <p>No posts found</p>
            {{end}}

        </div>
    </body>
</html>
{{end}}

{{ define "postEntry"}}
<div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom">
    <h2 class="uk-card-title">
        <a href="/post/{{.Id}}">{{.Title}}</a>
    </h2>
    <div class="article-body">
        {{.Text}}
    </div>
    <!-- <time class="uk-align-right uk-text-muted">28.08.2020 19:03</time> -->
</div>
{{end}}