<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "UIkit"}}
    {{template  "JS"}}
    <title>Document</title>
</head>

<body>
    <h1>TODOLIST</h1>
    <div class="uk-card uk-card-default uk-card-body">
        {{template "Tasks" .}}
        <hr>
        {{template "NewTask" .}}
    </div>
</body>

</html>

{{define "Tasks"}}
<div class="uk-card uk-card-body">
    <ul class="uk-list">
        {{range $key, $val := .Tasks}}
        <li>
            <div class="uk-card uk-card-default uk-card-body">
                {{if .Completed}}
                <input data-task-id="{{$key}}" class="checkbox uk-checkbox" type="checkbox" checked>
                {{else}}
                <input data-task-id="{{$key}}" class="checkbox uk-checkbox" type="checkbox">
                {{end}}
                <span>{{.Text}}</span>
            </div>
        </li>
        {{end}}
    </ul>
</div>
{{end}}

{{define "NewTask"}}
<div class="uk-card uk-card-body">
    <div class="uk-card-body uk-card-default uk-card" task-id="new">
        <input type="checkbox" class="uk-checkbox">
        <button class="uk-button uk-button-default" onclick="createTask()">Сохранить</button>
    </div>
    <input type="text" class="uk-input">
</div>
{{end}}

{{define "UIkit"}}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
{{end}}

{{define "JS"}}
<script>
    function createTask() {

    }

    document.addEventListener('DOMContentLoaded', () => {
        let checkboxAll = document.querySelectorAll('input');
        for (let item of checkboxAll) {
            item.addEventListener('click', async (event) => {
                let taskId = event.target.dataset.taskId;
                let taskCmpleted = event.target.checked;

                let data = await fetch(`/${taskId}/${taskCmpleted}`, {
                    method: 'POST',
                });

                let dataTask = await data.json();
                if (dataTask) {
                    // console.log(dataTask);
                    window.location.reload();
                }
            });
        }
    });
</script>
{{end}}